# MongoDB
MONGODB_URI=mongodb+srv://brik3391_db_user:brik3391_db_user@cluster0.s9e1zvd.mongodb.net/aromasabor?retryWrites=true&w=majority&appName=Cluster0

# JWT
JWT_SECRET=change-this-in-production

# API
API_PORT=4000

# Web
WEB_URL=http://localhost:3000
